.App div {
  outline: 1px solid red;
}

.App {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.center {
  width: 1300px; /* TODO change to max-width */
  margin: auto;
}

.navigation {
  height: 300px;
  background: black;
}

.projector {
  position: relative;
  top: 50px;
  background: white;
  height: 250px;
}

.map {
  margin-top: 21px;
  height: 250px;
}

.news {
  height: 200px;
}

.newsletter {
  height: 200px;
}

.slider {
  height: 150px;
}

.footer {
  height: 50px;
}
