/*.App div {*/
/*  outline: 1px solid red;*/
/*}*/

.App {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.center {
  width: 81.25em; /* TODO change to max-width */
  margin: auto;
}

.gradient-background-black {
  background: #000000;
  background: -webkit-linear-gradient(#000000, #434343);
  background: linear-gradient(#000000, #434343);
}

.gradient-background-black-reverse  {
  background: #000000;
  background: -webkit-linear-gradient(#434343, #000000);
  background: linear-gradient(#434343, #000000);
}

.navigation {
  height: 18.75em;
}

.projector {
  position: relative;
  top: 3.125em;
  background: white;
  height: 15.625em;
}

.map {
  margin-top: 1.3125em;
  height: 15.625em;
}

.news {
  height: 12.5em;
}

.newsletter {
  height: 12.5em;
}

.slider {
  height: 9.375em;
}

.footer {
  height: 3.125em;
}
